* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.leaflet-container,
#mapid {
  width: 100%;
  height: 100vh;
}

#popup h5 {
  margin: 10px;
}

#pharmacyImg {
  width: 100%;
  transition: transform 0.2s;
}

#pharmacyImg:hover {
  display: absolute;
  transform: scale(3);
}

#navigationContainer {
  display: flex;
  justify-content: flex-start;
}

#navigationImg {
  width: 24px;
  height: 24px;
  justify-content: space-around;
}

#searchCityContainer {
  position: absolute;
  z-index: 1000;
  top: 0;
  right: 0;
  padding: 5px;
}

.modal-header .close {
  margin: -1rem auto -1rem -1rem;
}
