<!DOCTYPE html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Admin Panel</title>
    <script src="js/jquery-3.3.1.min.js"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
        integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="css/pharmacie.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600|Open+Sans:400,600,700|Tajawal" rel="stylesheet">
    <link rel="stylesheet" href="css/spur.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js">
    </script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/locales/bootstrap-datepicker.fr.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
    <script src="js/chart-js-config.js"></script>
    <link rel="stylesheet" href="css/preloader.css">
    <link rel="stylesheet" href="css/admin.css">
    <script type="text/javascript" src="js/admin.js"></script>
</head>

<body>
    <div id="preloader">
        <svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#"
            xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg"
            xmlns="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
            xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" width="120.79934mm" height="20.661348mm"
            viewBox="0 0 120.79934 20.661348" version="1.1" id="svg8" inkscape:version="0.92.4 (5da689c313, 2019-01-14)"
            sodipodi:docname="pharmaween-logo.svg">
            <defs id="defs2" />
            <g inkscape:label="Layer 1" inkscape:groupmode="layer" id="layer1"
                transform="translate(-25.914479,-102.5331)">
                <g aria-label="يــن"
                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:25.39999962px;line-height:1.25;font-family:Tajawal;-inkscape-font-specification:'Tajawal, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#f8f9fa;fill-opacity:1;stroke:none;stroke-width:0.26458332"
                    id="logo-een" inkscape:label="een">
                    <path
                        d="m 128.07836,118.36845 v -1.5748 h 0.889 c 1.86267,0 2.794,-0.9652 2.794,-2.8956 v -5.5118 l 1.7018,-0.889 v 6.4516 c 0,1.4224 -0.41487,2.53153 -1.2446,3.3274 -0.762,0.72813 -1.778,1.0922 -3.048,1.0922 z"
                        style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:25.39999962px;font-family:Tajawal;-inkscape-font-specification:'Tajawal, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;writing-mode:lr-tb;text-anchor:start;fill:#f8f9fa;fill-opacity:1;stroke-width:0.26458332"
                        id="logo-ya" inkscape:connector-curvature="0" sodipodi:nodetypes="ccssccscsc" />
                    <path d="m 125.15141,118.36845 v -1.5748 h 3.4544 v 1.5748 z"
                        style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:25.39999962px;font-family:Tajawal;-inkscape-font-specification:'Tajawal, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;writing-mode:lr-tb;text-anchor:start;fill:#f8f9fa;fill-opacity:1;stroke-width:0.26458332"
                        id="logo-dash-right" inkscape:connector-curvature="0" />
                    <path d="m 122.22446,118.36845 v -1.5748 h 3.4544 v 1.5748 z"
                        style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:25.39999962px;font-family:Tajawal;-inkscape-font-specification:'Tajawal, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;writing-mode:lr-tb;text-anchor:start;fill:#f8f9fa;fill-opacity:1;stroke-width:0.26458332"
                        id="logo-dash-left" inkscape:connector-curvature="0" />
                    <path
                        d="m 112.42403,106.73525 q -1.0414,0 -1.0414,-1.0668 0,-1.016 1.0414,-1.016 0.9906,0 0.9906,1.016 0,1.0668 -0.9906,1.0668 z m 9.398,10.0584 h 0.889 v 1.5748 h -1.0922 q -1.5748,0 -2.6162,-0.7366 -0.1778,2.667 -2.1336,4.191 -1.7272,1.3716 -4.3688,1.3716 -3.2258,0 -5.0038,-2.286 -1.397,-1.7526 -1.397,-4.191 0,-2.1844 1.1176,-3.7592 l 1.651,-0.3302 q -1.2192,1.8542 -1.2192,3.9624 0,2.2352 1.4478,3.683 1.3462,1.3462 3.4036,1.3462 2.413,0 3.7338,-1.4224 1.0922,-1.1684 1.0922,-3.0734 v -8.7376 l 1.7018,-0.889 v 6.4008 q 0,2.8956 2.794,2.8956 z"
                        style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:25.39999962px;font-family:Tajawal;-inkscape-font-specification:'Tajawal, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;writing-mode:lr-tb;text-anchor:start;fill:#f8f9fa;fill-opacity:1;stroke-width:0.26458332"
                        id="logo-noon" inkscape:connector-curvature="0" />
                </g>
                <g aria-label="و"
                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:25.39999962px;line-height:1.25;font-family:Tajawal;-inkscape-font-specification:'Tajawal, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#f8f9fa;fill-opacity:1;stroke:none;stroke-width:0.26458332"
                    id="logo-questionmark" transform="rotate(8.069186,184.22815,120.38736)"
                    inkscape:label="questionmark">
                    <path
                        d="m 141.95685,116.54376 0.11323,-3.1635 c 0.0399,-1.11689 -0.3493,-1.70916 -1.31152,-1.78504 -0.60771,-0.0479 -1.10812,0.15889 -1.50123,0.62049 -0.37623,0.46292 -0.59762,1.1164 -0.66419,1.96045 -0.14112,1.78937 0.4714,2.20712 1.75435,2.3083 1.12779,0.27023 0.2697,2.04673 -0.42441,2.21883 -2.51363,0.0211 -4.68201,-2.02657 -4.45243,-4.67148 0.14644,-1.8569 0.76803,-3.27716 1.86476,-4.26078 0.96925,-0.87477 2.18818,-1.25424 3.65682,-1.13841 1.50241,0.11849 2.63768,0.69212 3.40585,1.7209 0.66064,0.88441 0.93837,1.99342 0.8332,3.327 l -0.42736,5.41878 c -0.1571,1.99194 -0.80421,3.5206 -1.94137,4.58596 -1.06429,1.00316 -2.68794,0.84994 -4.37603,0.71681 -0.65349,-0.0515 -2.04107,0.66912 -2.44416,1.49463 -0.23066,0.4724 -0.6667,0.51798 -0.7694,0.26672 -0.8577,-2.09857 1.86169,-3.73405 3.30266,-3.75375 1.64237,-0.0225 2.62955,-0.96987 2.97191,-2.72639"
                        style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:25.39999962px;font-family:Tajawal;-inkscape-font-specification:'Tajawal, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;writing-mode:lr-tb;text-anchor:start;fill:#f8f9fa;fill-opacity:1;stroke-width:0.26458332"
                        id="logo-waw" inkscape:connector-curvature="0" sodipodi:nodetypes="csscsccccscsscssssc" />
                </g>
                <path inkscape:label="3rddot" sodipodi:nodetypes="sssss" inkscape:connector-curvature="0"
                    id="logo-3rddot"
                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:25.39999962px;line-height:1.25;font-family:Tajawal;-inkscape-font-specification:'Tajawal, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#f8f9fa;fill-opacity:1;stroke:none;stroke-width:0.42704579"
                    d="m 135.3219,123.12446 c -1.13631,0 -1.70446,-0.566 -1.70446,-1.698 0,-1.07809 0.56815,-1.61715 1.70446,-1.61715 1.08087,0 1.62131,0.53906 1.62131,1.61715 0,1.132 -0.54044,1.698 -1.62131,1.698 z" />
                <path inkscape:label="1stdot" inkscape:connector-curvature="0" id="logo-1stdot"
                    d="m 128.91178,123.10732 c -0.69427,0 -1.0414,-0.3556 -1.0414,-1.0668 0,-0.67733 0.34713,-1.016 1.0414,-1.016 0.6604,0 0.9906,0.33867 0.9906,1.016 0,0.7112 -0.3302,1.0668 -0.9906,1.0668 z"
                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:25.39999962px;line-height:1.25;font-family:Tajawal;-inkscape-font-specification:'Tajawal, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#1dab4f;fill-opacity:0.94117647;stroke:none;stroke-width:0.26458332" />
                <path inkscape:label="2nddot" inkscape:connector-curvature="0" id="logo-2nddot"
                    d="m 131.80738,123.10732 c -0.69427,0 -1.0414,-0.3556 -1.0414,-1.0668 0,-0.67733 0.34713,-1.016 1.0414,-1.016 0.6604,0 0.9906,0.33867 0.9906,1.016 0,0.7112 -0.3302,1.0668 -0.9906,1.0668 z"
                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:25.39999962px;line-height:1.25;font-family:Tajawal;-inkscape-font-specification:'Tajawal, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#fc413f;fill-opacity:0.94117647;stroke:none;stroke-width:0.26458332" />
                <g aria-label="Pharma"
                    style="font-style:normal;font-weight:normal;font-size:10.58333302px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#f8f9fa;fill-opacity:1;stroke:#f8f9fa;stroke-width:1.32291663;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                    id="logo-pharma" inkscape:label="pharma">
                    <path
                        d="m 26.575938,119.67638 v -16.0528 q 0.3556,-0.0762 2.0066,-0.2032 1.651,-0.127 2.5146,-0.127 6.146799,0 6.146799,5.0292 0,3.1242 -2.133599,4.572 -1.4224,0.9906 -3.3528,0.9906 -1.524,0 -1.8542,-0.2032 v 5.9944 z m 3.3274,-13.5382 v 4.8514 q 0.6604,0.254 1.651,0.254 1.016,0 1.6002,-0.7112 0.5842,-0.7366 0.5842,-2.0066 0,-2.5654 -2.2606,-2.5654 -1.2954,0 -1.5748,0.1778 z"
                        style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:25.39999962px;font-family:Tajawal;-inkscape-font-specification:'Tajawal, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;writing-mode:lr-tb;text-anchor:start;fill:#f8f9fa;fill-opacity:1;stroke:#f8f9fa;stroke-width:1.32291663;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        id="logo-p" inkscape:connector-curvature="0" inkscape:label="p" />
                    <path
                        d="m 49.920125,119.67638 h -1.6764 v -6.7564 q 0,-3.6068 -3.2004,-3.6068 -0.8636,0 -1.778,0.4572 -0.9144,0.4318 -1.3462,1.0668 v 8.8392 h -1.7018 v -15.494 l 1.7018,-0.889 v 6.0706 q 1.5748,-1.524 3.6576,-1.524 4.3434,0 4.3434,4.953 z"
                        style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:25.39999962px;font-family:Tajawal;-inkscape-font-specification:'Tajawal, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;writing-mode:lr-tb;text-anchor:start;fill:#f8f9fa;fill-opacity:1;stroke:none"
                        id="logo-h" inkscape:connector-curvature="0" inkscape:label="h" />
                    <path
                        d="m 62.218884,119.67638 h -1.27 l -0.254,-1.2446 q -1.5494,1.5494 -3.8608,1.5494 -1.7526,0 -2.794,-0.9652 -1.0414,-0.9906 -1.0414,-2.6162 0,-3.9624 5.7912,-3.9624 h 1.7526 v -0.1524 q 0,-3.0226 -2.9464,-3.0226 -1.6764,0 -3.2258,1.1176 l -0.5588,-0.9398 q 1.7526,-1.6002 4.2672,-1.6002 2.0066,0 3.0734,1.2446 1.0668,1.2446 1.0668,3.5814 z m -1.6764,-5.9944 h -1.5494 q -4.1656,0 -4.1656,2.5654 0,1.0922 0.635,1.7272 0.6604,0.6096 1.8288,0.6096 1.016,0 1.9558,-0.508 0.9398,-0.508 1.2954,-1.27 z"
                        style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:25.39999962px;font-family:Tajawal;-inkscape-font-specification:'Tajawal, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;writing-mode:lr-tb;text-anchor:start;fill:#f8f9fa;fill-opacity:1;stroke:none"
                        id="logo-a1" inkscape:connector-curvature="0" inkscape:label="a1" />
                    <path
                        d="m 73.631817,109.13538 -1.397,0.9652 q -0.8636,-0.762 -1.8542,-0.762 -1.4478,0 -2.5654,1.4986 v 8.8392 h -1.7018 v -11.5316 h 1.4478 l 0.1524,1.2192 h 0.0508 q 1.4986,-1.524 3.0734,-1.524 1.8542,0 2.794,1.2954 z"
                        style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:25.39999962px;font-family:Tajawal;-inkscape-font-specification:'Tajawal, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;writing-mode:lr-tb;text-anchor:start;fill:#f8f9fa;fill-opacity:1;stroke:none"
                        id="logo-r" inkscape:connector-curvature="0" inkscape:label="r" />
                    <path
                        d="m 93.083455,119.67638 h -1.7018 v -6.604 q 0,-3.7592 -3.1496,-3.7592 -1.7018,0 -3.149599,1.4732 0.253999,0.889 0.253999,1.9812 v 6.9088 h -1.676399 v -6.7056 q 0,-3.6576 -3.0734,-3.6576 -0.8128,0 -1.7018,0.4572 -0.8636,0.4318 -1.3462,1.0922 v 8.8138 h -1.7018 v -11.5316 h 1.4224 l 0.1524,1.1938 h 0.0762 q 1.6002,-1.4986 3.683,-1.4986 2.4892,0 3.4798,1.8542 1.676399,-1.8542 4.190999,-1.8542 2.0828,0 3.2004,1.3462 1.0414,1.27 1.0414,3.5814 z"
                        style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:25.39999962px;font-family:Tajawal;-inkscape-font-specification:'Tajawal, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;writing-mode:lr-tb;text-anchor:start;fill:#f8f9fa;fill-opacity:1;stroke:none"
                        id="logo-m" inkscape:connector-curvature="0" inkscape:label="m" />
                    <path
                        d="m 105.37904,119.67638 h -1.27 l -0.254,-1.2446 q -1.5494,1.5494 -3.860796,1.5494 -1.7526,0 -2.794,-0.9652 -1.0414,-0.9906 -1.0414,-2.6162 0,-3.9624 5.791196,-3.9624 h 1.7526 v -0.1524 q 0,-3.0226 -2.9464,-3.0226 -1.676396,0 -3.225796,1.1176 l -0.5588,-0.9398 q 1.7526,-1.6002 4.267196,-1.6002 2.0066,0 3.0734,1.2446 1.0668,1.2446 1.0668,3.5814 z m -1.6764,-5.9944 h -1.5494 q -4.165596,0 -4.165596,2.5654 0,1.0922 0.635,1.7272 0.6604,0.6096 1.828796,0.6096 1.016,0 1.9558,-0.508 0.9398,-0.508 1.2954,-1.27 z"
                        style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:25.39999962px;font-family:Tajawal;-inkscape-font-specification:'Tajawal, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;writing-mode:lr-tb;text-anchor:start;fill:#f8f9fa;fill-opacity:1;stroke:none"
                        id="logo-a2" inkscape:connector-curvature="0" inkscape:label="a2" />
                </g>
            </g>
        </svg>
        <div id="preloader-text">
            <h5 class="arabic-font">دليلك لأماكن الصيدليات</h5>
        </div>
    </div>
    <div class="dash">
        <div class="dash-nav dash-nav-dark">
            <header>
                <a href="index.html">
                    <img src="svg/pharmaween-logo.svg" class="pharmaween-logo">
                </a>
                <a href="#!" class="menu-toggle">
                    <i class="fas fa-bars"></i>
                </a>
            </header>
            <ul class="nav flex-column nav-fill nav-pills">
                <li class="nav-item arabic">
                    <a href="#" class="nav-link active">
                        <span>الرئيسية</span>
                        <i class="fas fa-home"></i>
                    </a>
                </li>
                <li class="nav-item arabic">
                    <a href="moderator-shifts" class="nav-link">
                        <span>المناوبات</span>
                        <i class="fas fa-exchange-alt"></i>
                    </a>
                </li>
                <li class="nav-item arabic">
                    <a href="moderator-pharmacies" class="nav-link">
                        <span>الصيدليات</span>
                        <i class="icon-pharmacie"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="dash-app">
            <header class="dash-toolbar">
                <div class="tools">
                    <a href="https://facebook.com" target="_blank" class="tools-item">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="#!" class="tools-item">
                        <i class="fas fa-bell"></i>
                        <i class="tools-item-count">3</i>
                    </a>
                    <div class="dropdown tools-item">
                        <a href="#" class="" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <i class="fas fa-user"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                            <a class="dropdown-item" href="#!">الملف الشخصي</a>
                            <a class="dropdown-item" href="login.html">تسجيل الخروج</a>
                        </div>
                    </div>
                </div>
                <a href="#!" class="searchbox-toggle">
                    <i class="fas fa-search"></i>
                </a>
                <form class="searchbox" action="#!">
                    <a href="#!" class="searchbox-toggle"> <i class="fas fa-arrow-left"></i> </a>

                    <input type="text" class="searchbox-input" dir="rtl" placeholder="إضغط هنا للبحث">
                    <button type="submit" class="searchbox-submit"> <i class="fas fa-search"></i> </button>
                </form>
                <a href="#!" class="menu-toggle">
                    <i class="fas fa-bars"></i>
                </a>
            </header>
<main class="dash-content">
                <div class="container-fluid">
                    <div class="row dash-row">
                        <div class="col-xl-4">
                            <div class="stats stats-primary">
                                <h3 class="stats-title arabic-big">عدد المشرفين</h3>
                                <div class="stats-content">
                                    <div class="stats-data">
                                        <div class="stats-number">0</div>
                                        <div class="stats-change">
                                            <span class="stats-timeframe arabic-font" dir="rtl">من آخر شهر</span>
                                            <span class="stats-percentage">+0%</span>
                                        </div>
                                    </div>
                                    <div class="stats-icon">
                                        <i class="fas fa-user"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="stats stats-success">
                                <h3 class="stats-title arabic-big">عدد المناوبات اليوم</h3>
                                <div class="stats-content">
                                    <div class="stats-data">
                                        <div class="stats-number">0</div>
                                        <div class="stats-change">
                                            <span class="stats-timeframe arabic-font" dir="rtl">من آخر شهر</span>
                                            <span class="stats-percentage">+0%</span>
                                        </div>
                                    </div>
                                    <div class="stats-icon">
                                        <i class="fas fa-cart-arrow-down"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="stats stats-danger">
                                <h3 class="stats-title arabic-big">عدد الزوار</h3>
                                <div class="stats-content">
                                    <div class="stats-data">
                                        <div class="stats-number">0</div>
                                        <div class="stats-change">
                                            <span class="stats-timeframe arabic-font" dir="rtl">من آخر شهر</span>
                                            <span class="stats-percentage">+0%</span>
                                        </div>
                                    </div>
                                    <div class="stats-icon">
                                        <i class="fas fa-users"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="card spur-card">
                                <div class="card-header">
                                    <div class="spur-card-title" dir="rtl"> الزوار </div>
                                    <div class="spur-card-icon">
                                        <i class="fas fa-chart-bar"></i>
                                    </div>
                                </div>
                                <div class="card-body spur-card-body-chart">
                                    <canvas id="spurChartjsBar"></canvas>
                                    <script>
                                        var ctx = document.getElementById("spurChartjsBar").getContext('2d');
                                        var myChart = new Chart(ctx, {
                                            type: 'bar',
                                            data: {
                                                labels: ["Monday", "Tuesday", "Wednesday", "Thursday",
                                                    "Friday"
                                                ],
                                                datasets: [{
                                                    label: 'Blue',
                                                    data: [12, 19, 3, 5, 2],
                                                    backgroundColor: window.chartColors.primary,
                                                    borderColor: 'transparent'
                                                }]
                                            },
                                            options: {
                                                legend: {
                                                    display: false
                                                },
                                                scales: {
                                                    yAxes: [{
                                                        ticks: {
                                                            beginAtZero: true
                                                        }
                                                    }]
                                                }
                                            }
                                        });
                                    </script>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="card spur-card">
                                <div class="card-header">
                                    <div class="spur-card-title" dir="title"> الإشعارات </div>
                                    <div class="spur-card-icon">
                                        <i class="fas fa-bell"></i>
                                    </div>
                                </div>
                                <div class="card-body ">
                                    <div class="notifications">
                                        <a href="#!" class="notification">
                                            <span class="notification-time arabic-font" dir="rtl">من 21 يوم</span>
                                            <div class="notification-text">لديك رسالة جديدة</div>
                                            <div class="notification-icon">
                                                <i class="fas fa-inbox"></i>
                                            </div>
                                        </a>
                                        <a href="#!" class="notification">
                                            <span class="notification-time arabic-font" dir="rtl">من 21 يوم</span>
                                            <div class="notification-text">لديك رسالة جديدة</div>
                                            <div class="notification-icon">
                                                <i class="fas fa-inbox"></i>
                                            </div>
                                        </a>
                                        <a href="#!" class="notification">
                                            <span class="notification-time arabic-font" dir="rtl">من 21 يوم</span>
                                            <div class="notification-text">لديك رسالة جديدة</div>
                                            <div class="notification-icon">
                                                <i class="fas fa-inbox"></i>
                                            </div>
                                        </a>
                                        <div class="notifications-show-all">
                                            <a href="#!">Show all</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
</div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/spur.js"></script>
</body>

</html>