<%- include('partialviews/dashboard.ejs', {
    title: "Moderator Panel",
    mainjs: 'js/moderator.js',
    maincss: 'css/moderator.css',
    activenav: 'pharmacies'
}); %>
<main class="dash-content">
                <div class="container-fluid">
                    <div class="row dash-row">
                        <div class="col-xl-4">
                            <div class="stats stats-primary">
                                <h3 class="stats-title arabic-big">عدد المشرفين</h3>
                                <div class="stats-content">
                                    <div class="stats-data">
                                        <div class="stats-number">0</div>
                                        <div class="stats-change">
                                            <span class="stats-timeframe arabic-font" dir="rtl">من آخر شهر</span>
                                            <span class="stats-percentage">+0%</span>
                                        </div>
                                    </div>
                                    <div class="stats-icon">
                                        <i class="fas fa-user"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="stats stats-success">
                                <h3 class="stats-title arabic-big">عدد المناوبات اليوم</h3>
                                <div class="stats-content">
                                    <div class="stats-data">
                                        <div class="stats-number">0</div>
                                        <div class="stats-change">
                                            <span class="stats-timeframe arabic-font" dir="rtl">من آخر شهر</span>
                                            <span class="stats-percentage">+0%</span>
                                        </div>
                                    </div>
                                    <div class="stats-icon">
                                        <i class="fas fa-cart-arrow-down"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="stats stats-danger">
                                <h3 class="stats-title arabic-big">عدد الزوار</h3>
                                <div class="stats-content">
                                    <div class="stats-data">
                                        <div class="stats-number">0</div>
                                        <div class="stats-change">
                                            <span class="stats-timeframe arabic-font" dir="rtl">من آخر شهر</span>
                                            <span class="stats-percentage">+0%</span>
                                        </div>
                                    </div>
                                    <div class="stats-icon">
                                        <i class="fas fa-users"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="card spur-card">
                                <div class="card-header">
                                    <div class="spur-card-title" dir="rtl"> الزوار </div>
                                    <div class="spur-card-icon">
                                        <i class="fas fa-chart-bar"></i>
                                    </div>
                                </div>
                                <div class="card-body spur-card-body-chart">
                                    <canvas id="spurChartjsBar"></canvas>
                                    <script>
                                        var ctx = document.getElementById("spurChartjsBar").getContext('2d');
                                        var myChart = new Chart(ctx, {
                                            type: 'bar',
                                            data: {
                                                labels: ["Monday", "Tuesday", "Wednesday", "Thursday",
                                                    "Friday"
                                                ],
                                                datasets: [{
                                                    label: 'Blue',
                                                    data: [12, 19, 3, 5, 2],
                                                    backgroundColor: window.chartColors.primary,
                                                    borderColor: 'transparent'
                                                }]
                                            },
                                            options: {
                                                legend: {
                                                    display: false
                                                },
                                                scales: {
                                                    yAxes: [{
                                                        ticks: {
                                                            beginAtZero: true
                                                        }
                                                    }]
                                                }
                                            }
                                        });
                                    </script>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="card spur-card">
                                <div class="card-header">
                                    <div class="spur-card-title" dir="title"> الإشعارات </div>
                                    <div class="spur-card-icon">
                                        <i class="fas fa-bell"></i>
                                    </div>
                                </div>
                                <div class="card-body ">
                                    <div class="notifications">
                                        <a href="#!" class="notification">
                                            <span class="notification-time arabic-font" dir="rtl">من 21 يوم</span>
                                            <div class="notification-text">لديك رسالة جديدة</div>
                                            <div class="notification-icon">
                                                <i class="fas fa-inbox"></i>
                                            </div>
                                        </a>
                                        <a href="#!" class="notification">
                                            <span class="notification-time arabic-font" dir="rtl">من 21 يوم</span>
                                            <div class="notification-text">لديك رسالة جديدة</div>
                                            <div class="notification-icon">
                                                <i class="fas fa-inbox"></i>
                                            </div>
                                        </a>
                                        <a href="#!" class="notification">
                                            <span class="notification-time arabic-font" dir="rtl">من 21 يوم</span>
                                            <div class="notification-text">لديك رسالة جديدة</div>
                                            <div class="notification-icon">
                                                <i class="fas fa-inbox"></i>
                                            </div>
                                        </a>
                                        <div class="notifications-show-all">
                                            <a href="#!">Show all</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<% include partialviews/footer %>