<%- include('partialviews/dashboard.ejs', {
    title: "المناوبات",
    mainjs: 'js/moderator.js',
    maincss: 'css/moderator.css',
    activenav: 'shifts'
}); %>
<h1>hello</h1>
<% include partialviews/footer %>